.board-form {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 50px;
    border-top: 1px solid #000;
}

.form .form-group {
    margin-left: 20px;
}

.form input {
    width: 300px;
}
